{{#each blogs as |blog|}}

  <div class="row">

    <div class="container blogBox">
      <div class="row justify-content-center headerRow">
        <div class="col-8">
          <h2>
            <a
              class="blogTitle text-uppercase"
              href="/blog/{{blog.id}}"
            >{{blog.title}}</a>
          </h2>
        </div>

        <div class="col-4">
          <p class="blogCreate text-right">Created by
            {{blog.user.username}}
            on
            {{format_date blog.date_created}}
          </p>
        </div>
      </div>
      <div class="blogDesc">
        <p class="text-center blogDescMain">
          {{blog.description}}
        </p>
      </div>
    </div>

  </div>

{{/each}}

<h2 class="headlines text-center">Top Technology Headlines of the Day</h2>

{{#each articles as |article|}}
  <div class="card mt-3">
    <h5 class="card-header">{{article.title}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{article.author}}</h5>
      <p class="card-text">{{article.description}}</p>
      <a
        href="{{article.url}}"
        target="_blank"
        class="btn btn-outline-primary"
      >Read More</a>
    </div>
  </div>
{{/each}}